:root {
    --font-family: 'Trebuchet MS', Sans-Serif;
    --primary-color: #000000; 
    --secondary-color: #680581; 
    --tertiary-color: #ffffff; 
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

header h5 {
    font-size: 1.3em;
    display: inline; 
    padding: 20px;
}

.add {
    display: flex;
}

.remove {
    display: none;
}

.box {
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 50%;
}

.home {
    text-align: center;
    align-items: center;
}    

h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--primary-color);
}

p {
    font-size: 1.3em;
    color: var(--primary-color);
}

.btn {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px grey;
}
